



header {
  width: auto;
 height: auto;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  min-width: 1300px;
  caret-color: transparent;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  
}

body {
  padding: 0%;
  margin: 0%;
  background-image: linear-gradient(#ba259f, white 30%);
  width: auto;
  height: auto;
    
}
#logo {
  width: 17%;
  margin-left: 80px;
}

#divBusca {
  background-color: white;
  border: solid 3px rgb(248, 246, 245);
  border-radius: 15px;
  right: 30%;
  margin-top: 6%;
  float: right;
 position: relative;
 
  min-width: 45%;
  min-height: 5%;
  
  
}

#txtBusca {
  float: left;
  background-color: transparent;
  padding-left: 5px;
  font-style: italic;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  height: 32px;
  width: 500px;
  padding: 5px;
}

#btnBusca {
  height: 40px;
  padding: 2%;
  float: right;
  width: 40px;
  margin-right: 10px;
  object-fit: fill;
  margin-top: -8px;
  margin-bottom: -12px;
  
}

input.middle:focus {
  outline-width: 0;
}
.login{
  display: inline-flex;
  float:right;
  position: relative;
  left: 450px;
  
}

#login_btn,
#btn_sacola {

  
  float: right;
  margin-top: 75px;
  margin-left: -200px;
  margin-right: -200px;
  
  text-align: center;
  color: white;
  text-decoration-line: none;
  font-size: 20px;
  font-weight: bold;
}

a:visited {
  text-decoration: none;
}

#img_login,
#sacola_img {
  width: 50px;
  position: relative;
  right: 10px;
  top: 15px;
}
#login_btn:hover {
  color: #ba259f;
}

#btn_sacola {
  position: relative;
  left: 420px;
}

.nav_btn {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  position: relative;

  margin-left: 10px;

  background-color: #eb9a38;

  height: 32px;

  padding-top: 10px;
}

#blog_link {
  border: none;

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  bottom: 100px;
  left: 55px;
  font-size: large;
  font-weight: bold;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #eb9a38;
  border-radius: 3%;
}

.btn_catalago {
  padding: 10px;
  display: inline;
  margin-left: 115px;
  color: white;

  text-decoration-line: none;
  font-size: 20px;
  font-weight: bold;
}
.btn_catalago:hover {
  color: #ba259f;
}
footer {
  background-image: linear-gradient(white, #ba259f);
  padding-top: 10%;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  color: white;
  
  text-align: center;
}

.content {
  display: flexbox;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  width: 950px;
}

.container {
  padding: 10%;
  color: white;
}
.card:hover {
  background-color: #ba259f;
}
.card {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  width: 200px;
  top: 100px;
  margin: 5%;
  background-color: #eb9a38;
}

img {
  border-radius: 5px 5px 0 0;
}

.produtos {
  margin-top: 10%;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #eb9a38;
  color: white;
  font-size: large;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ba259f;
}

.form {
  font-size: large;
  display: flexbox;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 38%;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 300px;
}

#google_img {
  width: 30px;
  display: flex;
  position: relative;
  bottom: 45px;
  left: 10px;
}


#cadastro_link{
  color:#ba259f
}